
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
header{
    width:100%;
    background-color: #292929;
    padding:20px;
  }


  .header-div{
    border: 1px solid  #FFFFFF;
    padding: 15px;
    width: 185px;
  }



  .header-div > img{
    max-width: 100%;
  }

  @media screen and (max-width:850px){
    .header-div{
       align-items: center;
       justify-content: center;
       display: flex;
       margin: 0 auto;
      }
    
      header{
        padding:13px;
      }
    
    
      .header-div{
        border: 1px solid  #FFFFFF;
        padding: 13px;
       
      }

      .header-div > img{
        max-width: 65%;
      }
    
  }

  
  .background-img{
    background: #000 url("./assets/Rectangle\ 5.png") no-repeat center center/cover;
    height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
  }
  

/* 

  .background-text{
    width: 300px;
   padding: 110px;
    
  }

  .background-text > p{
    font-size: 3.9rem;
    color: white;
  }

  .text-color{
    color:rgb(233, 167, 120)
  } */

/* 
  @media screen and (max-width:850px){
     .background-text{
    width: 700px;
   text-align: center;
   }

   .background-text > p{
    font-size: 2.2rem;
    color: white;
  }

 
} */