
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  
header{
    background-color: #292929;
    height: 105px;
  }


  .header-div{
    border: 1px solid  #FFFFFF;
    padding: 15px;
    width: 185px;
    margin-left: 55px;
   position: absolute;
   margin-top: 15px;
  }

  .header-div > img{
    max-width: 60%;
    
  }

  
  @media screen and (max-width:600px){
    .header-div{
       align-items: center;
       justify-content: center;
       display: flex;
       margin-left: 90px;
      }
    
      header{
        padding:13px;
      }
    
    
      .header-div{
        border: 1px solid  #FFFFFF;
        padding: 13px;
      }
    
  } 

  /* header  */



  
  .background-img{
    background: #000 url("./assets/Rectangle\ 5.png") no-repeat center center/cover;
    height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  



  .background-text{
   
   padding: 110px;
    
  }

  .background-text > p{
    font-size: 3.9rem;
    color: white;
  }

  .text-color{
    color:rgb(233, 167, 120)
  }
   


  @media screen and (max-width:850px){
     .background-text{
    
    position: absolute;
    text-overflow: ellipsis;
    text-align: center;
   padding: 130px;
   margin-left: -10px;
   }

   .background-text > p{
    font-size: 1.8rem;
    color: white;
  }

  
  .background-img{
    height: 50vh;
  }
  
}  





input{
    width: 70%;
    display: flex;
   justify-content: center;
   margin: 0 auto;
   margin-top: 70px;
   padding:25px;
   border-radius: 7px;
   outline-color:rgb(233, 167, 120);
   border:2px solid rgb(233, 167, 120);
   font-size: 1.2rem;
   color: rgb(98, 97, 97);
}




@media screen and (max-width:850px){
  
input{

}

 } 

 